<!DOCTYPE html>
<html>

<head>
  <title>Fidget</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta property="og:title" content="Fidget-TV" />
  <meta property="og:description" content="A live streaming, video hosting and real-time chat application inspired by Twitch" />
  <meta property="og:image" content="https://i.ibb.co/6nSXZH8/fidget-Img.png" />
  <%= favicon_link_tag asset_path('favicon.png') %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <%= yield %>
</body>

</html>